<div class='container'>
    <div class='col-md-8'>
        <h1> <%= @user.email %> </h1>
            <small>
            Created: <%= @user.created_at %> <br>
            Last Updated: <%= @user.updated_at %>
            </small>
    </div>
</div>
    <br>
<div class='container'>
    <div class = 'col-md-8'>
        <%= render partial: 'items/item', locals:{user: @user, item: @item} %>
    </div>
    <br>
    <div class= 'col-md-8'>
        <%= render partial: 'items/form', locals:{user: @user, item: @items} %>
    </div>
</div>
